
body {
  background-color: #100e17;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  }

nav{
  background-color: #100e17;
  height: 170vh;
  width: 100vw;
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: initial;
  flex-direction: column;
}
  
.container {
  position: relative;
  margin-top: 20px;
  height: 45vh;
  width: 100%;
  display: block;
  justify-content: center;
  flex-direction: row;
  overflow: none;
}

.container-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.card {
  display: flex;
  height: 100%;
  width: 15%;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 10px;
}

.bar {
  position: absolute;
  top: 80px;
  left: 20px;
  height: 2%;
  width: 85%;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgb(167, 114, 0) 0%, rgb(201, 137, 0) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 90%;
  transition: 0.4s ease-out;
}

.content {
  margin-top: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.content p {
  color: white;
  font-weight: 300;
  font-size: 0.5rem;
  margin: auto;
  width: 60%;
}

.content h1 {
  color: white;
  font-weight: 300;
  font-size: 0.7rem;
  margin: auto;
  width: 60%;
}	

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

footer{
  transition: all 0.4s ease 0s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 12vh;
  margin-top: auto;
  width: 100%;
  text-align: center;
  bottom: 0px;
  border-top: 3px solid rgb(249, 205, 72);
}


footer p{
  color: white;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
  width: 70%;
}

.container_footer{
  position: relative;
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#showFooter{
  position: absolute;
  color: white;
  font-weight: 0.5rem;
  right: 0;
  bottom: 10%;
}

#content-meio{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(249, 205, 72);
}

.content-form1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(16 14 23);
  height: 70%;
  width: 40%;
}

#form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

#form div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 15%;
  margin: 10px;
}

#form div label{
  width: 100%;
  border: none;
  color: white;
}


#form div input{
  width: 100%;
  height: 30px;
  color: white;
  font-size: 1rem;
  padding: 5px;
  background-color: white;
}

#form div input:focus{
    color: white;
    outline: none;
    border: none;
    text-decoration: none;
    background-color: white;
}

#form div input:hover{
  color: white;
  border: none;
  background-color: white;
}

.content-form2{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: rgb(71, 64, 41);
}


body::-webkit-scrollbar {
  width: 0px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

@media (min-width: 600px) and (max-width: 1000px) {

  nav{
    height: 100vh;
  }
  .container{
    overflow: auto;
    height: auto;
    margin: 0;
  }
  .container-container{
    width: 200%;
    height: 100%;
  }

  .card{
    margin: 2% 3%;
    height: 350px;
    width: 400px;
  }

  #content-meio{
    margin:auto;
    height: 55vh;
  }

  .content-form1{
    height: 80%;
    width: 80%;
  }

  #form div input {
    height: 40px
  }

  footer{
    margin: 0;
  }
}