
html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: .8em;
}

body {
  background-color: #2e3033;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

#load{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #2e3033;
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade 1s ease-out;
  z-index: 10;
}

.box-load{
  animation-delay: 5s;
  animation: rotate 1s infinite;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-top-color: rgb(249, 205, 72);
}

@keyframes rotate{
  from{
    transform: rotate(1turn)
  }
}

nav{
  background-color: #2e3033;
  height: 200vh;
  width: 100vw;
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: initial;
  flex-direction: column;
}

#header-top{
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: row;
  z-index: 3;
  background-color: #3e567a;
  transition: 0.3s ease-out;
  align-items: center;
}

.header-logo{
  height: 10vh;
  width: 12vh;
  border-radius: 50%;
  margin-right: 0%;
  display: flex;
  margin: 0 5vh;
  align-items: center;
}

.header-logo img{
  max-height: 100%;
  max-width: 100%;
}

#header-text{
  height: 100%;
  width: 60%;
  margin: auto;
}

#header{
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  z-index: 4;
}

#header:after{
  transition: 0.4s ease-out;
}

#color-header{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: transparent;
}

#content-header{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#sobre:focus,
#contato:focus{
  background-color: #2e3033;
}

.menu {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
}

.menu ul li {
  float: left;
  position: relative;
  height: 100%;
  width: 20vh;
  justify-content: center;
  align-items: center;
}

.menu ul li a {
  color: rgba(255, 255, 255, .9);
  text-decoration: none;
  transition: all .3s ease-in-out;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul li a:hover,
.menu ul li a:focus {
  background: linear-gradient(90deg, rgb(214, 161, 1), rgb(249, 205, 72), rgb(214, 161, 1));
}

.menu ul li:hover .dropdown{
display: block;
}

.menu ul li:hover .dropdown li:hover .dropdown-detran{
display: block;
}

.menu ul li:hover .dropdown li:hover .dropdown-antt{
display: block;
}

.menu ul li a:focus {
  color: white;
}

.menu ul li a:not(:only-child)::after {
  padding-left: 4px;
  content: ' ▾';
}

.menu ul li ul li {
  min-width: 100%;
}

.menu ul li ul li a {
  background-color: #2e3033;
  color: rgb(255, 255, 255);
}

.menu ul li ul li a:hover,
.menu ul li ul li a:focus {
  background: linear-gradient(90deg, rgb(214, 161, 1), rgb(249, 205, 72), rgb(214, 161, 1));
  color: #2e3033;
}

.dropdown {
  display: none;
  position: absolute;
  background: #2e3033;
  box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
}

.dropdown-detran{
  display: none;
  position: absolute;
  background: #2e3033;
  box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
  top: 0;
  left: 100%;
}

.dropdown-antt{
  display: none;
  position: absolute;
  background: #2e3033;
  box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
  top: 0;
  left: 100%;
}

#content-logo{
  position: relative;
  height: 80vh;
  width: 100%;
  display: none;
  justify-content: center;
  flex-direction: row;
  z-index: 1;
  background: linear-gradient(90deg, rgb(214, 161, 1), rgb(249, 205, 72), rgb(214, 161, 1));
}

.content-header-bottom{
  width: 100%;
  height: 100%;
  display: flex;
  background: linear-gradient(90deg, rgb(214, 161, 1), rgb(249, 205, 72), rgb(214, 161, 1));
}

#button-content{
  bottom: 25%;
  right: auto;
  width: 200px;
  height: 50px;
  border: none;
}

  
#container {
  position: relative;
  height: 90vh;
  width: 100%;
  display: block;
  justify-content: center;
  flex-direction: row;
  z-index: 2;
  margin: 0;
}

.container-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}


#container-content1{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#content-card{
  display: none;
  z-index: 1;
}
.color-{
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.233)70%, rgb(0, 0, 0)100%);
}

#container-button{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  top: 0;
  transition: all 0.3s ease-in-out;
}

.container-button-top{
  color: #121212;
  height: 10%;
  width: 100%;
  background: linear-gradient(90deg, rgb(214, 161, 1), rgb(249, 205, 72), rgb(214, 161, 1));
}

#container-button-top-text{
  height: 100%;
  width: 100%;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#container-img{
  width: 100%;
  height: 100%;
}

#container-img img{
  width: 100%;
  height: 100%;
}

#button_left{
  position: absolute;
  margin: auto;
  height: 100%;
  left: 0;
  border: none;
  background: transparent;
  color: #fff;
  z-index: 4;
}

#button_left:hover{
  cursor: pointer;
  background: linear-gradient(90deg,rgba(0, 0, 0, 0.438) 0%, rgba(43, 43, 43, 0.356) 65%, rgba(87, 87, 87, 0.075) 100%);
}
#button_right:hover{
  cursor: pointer;
  background: linear-gradient(-90deg,rgba(0, 0, 0, 0.438) 0%, rgba(43, 43, 43, 0.356) 65%, rgba(87, 87, 87, 0.075) 100%);
}

#button_right{
  position: absolute;
  margin: auto;
  height: 100%;
  right: 0;
  background: transparent;
  border: none;
  color: #fff;
  z-index: 4;
}


.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 3;
}

.content p {
  color: white;
  font-weight: 300;
  font-size: 0.5rem;
  margin: auto;
  width: 60%;
  z-index: 3;
}

.content h1 {
  color: white;
  font-weight: 300;
  font-size: 0.7rem;
  margin: auto;
  width: 60%;
}

.contato-title,
.sobre-title,
.card-title{
  background-image: linear-gradient(transparent 0%, transparent 90%, rgb(0, 0, 0)90%, rgb(0, 0, 0) 100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;

  transition: background-size 300ms;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.contato-title:hover,
.sobre-title:hover,
.card-title:hover{
  background-size: 100% 100%;
  background-position-x: left;
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #2e3033;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

#content{
  position: relative;
  height: 130vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  z-index: 2;
}

.content-content-meio{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: row;
  /*background-color: rgb(249, 205, 72);*/
  z-index: 2;
}

#content-b{
  position: absolute;
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: row;
  background-color: transparent;
  z-index: 2;
  top: -10vh;
}

#content-1{
  height: 100%;
  width: 15%;
  position: relative;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: center;
  flex-direction: row;
  background: linear-gradient(90deg, rgb(214, 161, 1), rgb(249, 205, 72), rgb(214, 161, 1));
  margin: 2vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 1vh;
  cursor: pointer;
  color: #2e3033;
}

#content-2{
  height: 100%;
  width: 15%;
  position: relative;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: center;
  flex-direction: row;
  background-color: #2e3033;
  margin: 2vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 1vh;
  cursor: pointer;
  color: rgba(255, 255, 255, .9);
}

#content-1:hover{
  color: rgba(255, 255, 255, .9);
}

#content-2:hover{
  color: rgb(249, 205, 72);
}

#content-1 h1{
  font-size: 1rem;
}

#content-2 h1{
  font-size: 1rem;
}

#image-content{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.content-img{
  width: 100%;
  height: 100%;
  opacity: 10%;
  background-image:url('imgs/LOGO.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;

}

.content-sobre{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: linear-gradient(90deg, rgb(214, 161, 1), rgb(249, 205, 72), rgb(214, 161, 1));
  transition: all 0.4s ease-in-out;
  z-index: 3;
}


#sobre-content1{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.sobre-img{
  width: 80%;
  height: 40%;
}

.sobre-img img{
  max-width: 100%;
  max-height: 100%;
}

.sobre-text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sobre-text p{
  width: 80%;
  font-size: 1rem;
  font-weight: 300;
}

#sobre-content2{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  color: #2e3033;
  transition: all 0.4s ease-in-out;
}

.content-contato{
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  flex-direction: column;
  color: rgba(255, 255, 255, .9);
  background-color: #2e3033;
  transition: all 0.4s ease-in-out;
  z-index: 3;
}

#contato-content{
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  color: rgba(255, 255, 255, .9);
  transition: all 0.4s ease-in-out;
}

#sobre-content{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 10vh;
  color: rgba(255, 255, 255, .9);
  transition: all 0.4s ease-in-out;
}

.contato-text{
  height: 70%;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;

}

#contato-img{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

#contato-form{
  height: 70%;
  width: 40%;
  position: relative;
  padding: 5vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  color: rgba(255, 255, 255, .9);
  background: linear-gradient(90deg, rgb(214, 161, 1), rgb(249, 205, 72), rgb(214, 161, 1));
  transition: all 0.4s ease-in-out;
  z-index: 5;
}

#contato-form h1{
  color: #121212;
}

#close{
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  margin: 2vh;
  cursor: pointer;
  display: none;
}

.contato-form-input{
  height: 10%;
  width: 40%;
  display: none;
  justify-content: center;
  flex-direction: column;
  margin: 1vh auto;
  color: rgba(255, 255, 255, .9);
  transition: all 0.4s ease-in-out;
}

.contato-form-input input:focus{
  outline: none;
}

.contato-form-input button{
  height: 100%;
  width: auto;
  display: flex;
  border: 0;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(90deg, rgb(214, 161, 1), rgb(249, 205, 72), rgb(214, 161, 1));
  transition: all 0.4s ease-in-out;
}

footer{
  transition: all 0.4s ease 0s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 12vh;
  width: 100%;
  text-align: center;
  bottom: 0px;
  margin-top: auto;
  z-index: 2;
  background-color: #2e3033;
  color: rgba(255, 255, 255, .9);
}


footer p{
  font-weight: 300;
  font-size: 14px;
  margin: 0;
  width: 70%;
}

#icones-footer{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 40%;
}

#icones-footer a{
  height: 30px;
  width: 30px;
  margin: 5px;
}

#icones-footer a img{
  height: 100%;
  width: 100%;
}

#content-meio{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 90%;
  width: 100%;
  background: linear-gradient(90deg, rgb(214, 161, 1), rgb(249, 205, 72), rgb(214, 161, 1));
}

#icone{
  height: 45px;
  width: 280px;
  bottom: 10px;
  right: 10px;
  z-index: 5;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: linear-gradient(90deg, rgb(67 230 96), rgb(66 207 91), rgb(51 173 73));
  border-radius: 15px;
  transition: 0.2s ease-out;
  display:flex;
  position:relative;
  margin:auto;
  cursor: pointer;
  
}

#icone2{
  display: none;
}

#icone-img{
  height: 35px;
  width: 35px;
  display: flex;
}

#icone p{
  font-size: 1rem;
  font-weight: 300;
  color: #2e3033;
  width: 80%;
}

#button-home{
  display: flex;
  position: fixed; height: 45px; width: 45px; border-radius: 50px; bottom: 0; align-items: center; display: none; right: 0; z-index: 5; justify-content: center; margin: auto; text-align: center; text-decoration: none; color: rgb(255, 255, 255);
}

#button-home span{
  font-size: 3rem;
  font-weight: 300;
  color: #ffffff;
}



body::-webkit-scrollbar {
  width: 0px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

@media (min-width: 400px) and (max-width: 700px) {

  nav{
    height: 135vh;
  }

  #header {
    height: 10vh;
    opacity: 1;
  }

  .header-logo {
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    margin-right: 0%;
    display: flex;
    margin: 0 1vh;
    align-items: center;
  }

  #content-logo{
    display: flex;
    height: 30vh;
  }

  #color-header{
    width: 100%;
  }

  .menu {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  }
  
  .menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  }
  
  .menu ul li {
  float: left;
  position: relative;
  height: 100%;
  width: 8vh;
  justify-content: center;
  align-items: center;
  }
  
  .menu ul li a {
  color: rgba(255, 255, 255, .9);
  text-decoration: none;
  transition: all .3s ease-in-out;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .menu ul li a:hover,
  .menu ul li a:focus {
      background: linear-gradient(90deg, rgb(214, 161, 1), rgb(249, 205, 72), rgb(214, 161, 1));
  }
  
  .menu ul li:hover .dropdown{
  display: block;
  }
  
  .menu ul li:hover .dropdown li:hover .dropdown-detran{
  display: block;
  }
  
  .menu ul li:hover .dropdown li:hover .dropdown-antt{
  display: block;
  }
  
  .menu ul li a:focus {
  color: white;
  }
  
  .menu ul li a:not(:only-child)::after {
  padding-left: 4px;
  content: ' ▾';
  }
  
  .menu ul li ul li {
  min-width: 100%;
  height: 7vh;
  }
  
  .menu ul li ul li a {
  background: #2e3033;
  color: rgb(255, 255, 255);
  }
  
  .menu ul li ul li a:hover,
  .menu ul li ul li a:focus {
  background: linear-gradient(90deg, rgb(214, 161, 1), rgb(249, 205, 72), rgb(214, 161, 1));
  color: #2e3033;
  }

  #container{
    height: 60vh;
  }
  
  .container-container{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

  }

  #button-content{
    bottom: 25%;
    right: auto;
    width: 130px;
    height: 40px;
  }

  #container-button-top-text {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  #content-1{
    transition: all 0.2s ease-in-out;
    width: 25%;
  }

  #content-2{
    transition: all 0.2s ease-in-out;
    width: 25%;
  }

  #sobre-content{
    margin: 0;
  }
  
  #content-card{
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    background-color: #3e567a;
  }

  .card-content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .content1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .card {
    display: flex;
    height: 190px;
    width: 150px;
    background-color: #2e3033;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #2e3033;
    transition: 0.4s ease-out;
    position: relative;
    margin: 1vh;
  }
  
  .card img{
    border-radius: 10px;
    max-height: 100%;
    max-width: 100%;
  }
  
  .color-card{
    width: 100%;
    height: 0%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #2e3033;
    position: absolute;
    transition: 0.3s ease-out;
  }
  
  .title {
    color: rgba(255, 255, 255, .9);
    font-weight: 300;
    position: absolute;
    top: 0px;
    width: 100%;
    font-size: 1rem;
  }
  
  .bar {
    position: absolute;
    top: 80px;
    left: 20px;
    height: 2%;
    width: 85%;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgb(167, 114, 0) 0%, rgb(201, 137, 0) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }
  
  .card:hover .filledbar {
    width: 90%;
    transition: 0.4s ease-out;
  }
  
  .card:hover .color-card {
    height: 40%;
    transition: 0.4s ease-out;
  }
  
  .content{
    opacity: 0;
    transition: 0.4s ease-out;
  }
  
  .card:hover .content{
    opacity: 1;
    transition: 1s ease-out;
  }

  #content {
    flex-direction: column;
    height: 100%;
  }

  .sobre-content{
    margin: 0;
  }

  #content-meio{
    margin-bottom: 10vh;
    height: 55vh;
  }

  .content-content-meio{
    flex-direction: column;
  }

  .content-contato{
    display:  none;
  }

  #contato-content{
    flex-direction: column;
  }

  .contato-text {
    height: 100%;
    width: 100%;
    margin: auto;
  }
  
  .contato-text p{
    width: 80%;
    margin: 2vh auto;
  }


  #contato-form {
    height: 40%;
    width: 65%;
    position: fixed;
    padding: 5vh;
    left: 7%;
    bottom: 25%;
    display: none;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    color: rgba(255, 255, 255, .9);
    background: linear-gradient(90deg, rgb(214, 161, 1), rgb(249, 205, 72), rgb(214, 161, 1));
    transition: all 0.4s ease-in-out;
    z-index: 5;
  }

  #content-form {
    height: 50%;
    width: 70%;
    padding: 5vh;
  }

  #content-1{
    transition: all 0.2s ease-in-out;
    width: 40%;
  }
  
  #content-2{
    transition: all 0.2s ease-in-out;
    width: 40%;
  }

  .content-text-p {
    width: 70%;
    height: 85%;
    padding: 70px 20px;
  }

  #contato-img{
    max-height: 35%;
    max-width: 80%;
    margin: 0 auto;
  }

  #form div input {
    height: 40px
  }

  #icone{
    display: none;
    height: 44px;
    width: 220px;
    margin: 0 25%;
    
  }

  #icone a{
    height: 100%;
    width: 100%;
  }

  #icone2{
    height: 44px;
    width: 220px;
    margin: 0 25%;
    z-index: 5;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: linear-gradient(90deg, rgb(214, 161, 1), rgb(249, 205, 72), rgb(214, 161, 1));
    border-radius: 15px;
    transition: 0.2s ease-out;
    display:flex;
    position:relative;
    cursor: pointer;
    
  }

  #icone2 p{
    font-size: 1rem;
    font-weight: 300;
    color: #2e3033;
    width: 80%;
  }

  #icone-img{
    height: 100%;
    width: 100%;
  }
  
  #close{
    display: block;
  }

  #icones-footer{
    display: flex;
    justify-content: start;
  }

  .container_footer {
      width: 40%;
  }

  footer{
    margin-top: auto;
    height: 20vh;
    padding: 2vh 0;
  }

  .omrs-input-group {
    margin-bottom: 1.5rem;
    position: relative;
    width: 90%;
    margin: 1vh auto;
  }

  .omrs-input-group textarea {
    width: 90%;
    height: 2rem;
    padding: 2vh;
  }
}

@media screen and (max-width: 480px) { 
  .omrs-input-group {
    font-size: 16px;
  }
}

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
	font-family: "Roboto";
}
div.container {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	margin-top: 30px;
	border: 1px solid rgba(255, 255, 255, .9);
	padding: 21px;
	border-radius: 4px;
}
h4.title {
	text-align: center;
	margin-bottom: 45px;
}
:root {
  --omrs-color-ink-lowest-contrast: #121212;
  --omrs-color-ink-low-contrast: #121212;
  --omrs-color-ink-medium-contrast: #121212;
  --omrs-color-interaction: #121212;
  --omrs-color-interaction-minus-two: #121212;
  --omrs-color-danger: #b50706;
  --omrs-color-bg-low-contrast: rgba(255, 255, 255, .9);
  --omrs-color-ink-high-contrast: #121212;
  --omrs-color-bg-high-contrast: rgba(255, 255, 255, .9);
	
}
/** END: Non Openmrs CSS **/
div.omrs-input-group {
  margin-bottom: 1.5rem;
  position: relative;
  width: 70%;
  margin: 1vh auto;
}

/* Input*/
.omrs-input-underlined > input,
.omrs-input-filled > input
{
	border: none;
	border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
	width: 100%;
	height: 2rem;
	font-size: 1.0625rem;
	padding-left: 0.875rem;
	line-height: 147.6%;
	padding-top: 0.825rem;
	padding-bottom: 0.5rem;
}

.omrs-input-group textarea{
  margin: auto;
  height: 60px;
}

.omrs-input-group textarea:focus{
  outline: none;
}

.omrs-input-underlined > input:focus,
.omrs-input-filled > input:focus {
	outline: none;
}

.omrs-input-underlined > .omrs-input-label,
.omrs-input-filled > .omrs-input-label {
	position: absolute;
	top: 0.9375rem;
	left: 0.875rem;
	line-height: 147.6%;
	color: var(--omrs-color-ink-medium-contrast);
	transition: top .2s;
}

.omrs-input-underlined > svg,
.omrs-input-filled > svg {
	position: absolute;
	top: 0.9375rem;
	right: 0.875rem;
	fill: var(--omrs-color-ink-medium-contrast);
}

.omrs-input-underlined > .omrs-input-helper,
.omrs-input-filled > .omrs-input-helper {
	font-size: 0.9375rem;
	color: var(--omrs-color-ink-medium-contrast);
	letter-spacing: 0.0275rem;
	margin: 0.125rem 0.875rem;
}

.omrs-input-underlined > input:focus + .omrs-input-label,
.omrs-input-underlined > input:valid + .omrs-input-label,
.omrs-input-filled > input:focus + .omrs-input-label,
.omrs-input-filled > input:valid + .omrs-input-label {
	top: 0;
	font-size: 0.9375rem;
	margin-bottom: 32px;;
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus + .omrs-input-label,
.omrs-input-filled:not(.omrs-input-danger) > input:focus + .omrs-input-label {
	color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus,
.omrs-input-filled:not(.omrs-input-danger) > input:focus,
.omrs-input-group:not(.omrs-input-danger) > textarea:focus {
	border-color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus ~ svg,
.omrs-input-filled:not(.omrs-input-danger) > input:focus ~ svg {
	fill: var(--omrs-color-ink-high-contrast);
}

/** DISABLED **/

.omrs-input-underlined > input:disabled,
.omrs-input-group > textarea:disabled {
	background: var(--omrs-color-bg-low-contrast);
	cursor: not-allowed;
}

.omrs-input-underlined > input:disabled + .omrs-input-label,
.omrs-input-underlined > input:disabled ~ .omrs-input-helper{
	color: var(--omrs-color-ink-low-contrast);
}

.omrs-input-underlined > input:disabled ~ svg {
	fill: var(--omrs-color-ink-low-contrast);
}


/** DANGER **/

.omrs-input-underlined.omrs-input-danger > .omrs-input-label, .omrs-input-underlined.omrs-input-danger > .omrs-input-helper,
.omrs-input-filled.omrs-input-danger > .omrs-input-label, .omrs-input-filled.omrs-input-danger > .omrs-input-helper{
	color: var(--omrs-color-danger);
}

.omrs-input-danger > svg {
	fill: var(--omrs-color-danger);
}

.omrs-input-danger > input {
	border-color: var(--omrs-color-danger);
}

.omrs-input-underlined > input {
	background: var(--omrs-color-bg-high-contrast);
}

.omrs-input-group > textarea {
  background: var(--omrs-color-bg-high-contrast);
}

.omrs-input-filled > input {
	background: var(--omrs-color-bg-low-contrast);
}