
html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: .8em;
}

body {
  background-color: #100e17;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

#load{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #100e17;
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade 1s ease-out;
  z-index: 10;
}

.box-load{
  animation-delay: 5s;
  animation: rotate 1s infinite;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-top-color: rgb(249, 205, 72);
}

@keyframes rotate{
  from{
    transform: rotate(1turn)
  }
}

nav{
  background-color: #100e17;
  height: 200vh;
  width: 100vw;
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: initial;
  flex-direction: column;
}

#header{
  position: fixed;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  z-index: 3;
}

#header:after{
  transition: 0.4s ease-out;
}

#color-header{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: transparent;
}

#content-header{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#sobre:focus,
#contato:focus{
  background-color: rgb(16 14 23);
}

.menu {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
}

.menu ul li {
  float: left;
  position: relative;
  height: 100%;
  width: 20vh;
  justify-content: center;
  align-items: center;
}

.menu ul li a {
  color: rgba(255, 255, 255, .9);
  text-decoration: none;
  transition: all .3s ease-in-out;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul li a:hover,
.menu ul li a:focus {
  background: rgb(249, 205, 72);
}

.menu ul li:hover .dropdown{
display: block;
}

.menu ul li:hover .dropdown li:hover .dropdown-detran{
display: block;
}

.menu ul li:hover .dropdown li:hover .dropdown-antt{
display: block;
}

.menu ul li a:focus {
  color: white;
}

.menu ul li a:not(:only-child)::after {
  padding-left: 4px;
  content: ' ▾';
}

.menu ul li ul li {
  min-width: 100%;
}

.menu ul li ul li a {
  background-color: rgb(16 14 23);
  color: rgb(255, 255, 255);
}

.menu ul li ul li a:hover,
.menu ul li ul li a:focus {
  background: rgb(249, 205, 72);
  color: #111;
}

.dropdown {
  display: none;
  position: absolute;
  background: rgb(16 14 23);
  box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
}

.dropdown-detran{
display: none;
  position: absolute;
  background: rgb(16 14 23);
  box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
top: 0;
left: 100%;
}

.dropdown-antt{
display: none;
  position: absolute;
  background: rgb(16 14 23);
  box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
top: 0;
left: 100%;
}

#content-logo{
  position: relative;
  height: 80vh;
  width: 100%;
  display: block;
  justify-content: center;
  flex-direction: row;
  z-index: 1;
  background-color: rgb(249, 205, 72);
}

.content-header-bottom{
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgb(249, 205, 72);
}

  
#container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: block;
  justify-content: center;
  flex-direction: row;
  z-index: 2;
  margin: 0;
  overflow-x: hidden;
}

.container-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}


#container-content1{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#content-card{
  display: none;
}
.color-{
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.233)70%, rgb(0, 0, 0)100%);
}


#img{
  width: 100%;
  max-height: 100%;
}

#button_left{
  position: absolute;
  margin: auto;
  height: 100%;
  left: 0;
  border: none;
  background: transparent;
  color: #fff;
}

#button_left:hover{
  cursor: pointer;
  background: linear-gradient(90deg,rgba(0, 0, 0, 0.438) 0%, rgba(43, 43, 43, 0.356) 65%, rgba(87, 87, 87, 0.075) 100%);
}
#button_right:hover{
  cursor: pointer;
  background: linear-gradient(-90deg,rgba(0, 0, 0, 0.438) 0%, rgba(43, 43, 43, 0.356) 65%, rgba(87, 87, 87, 0.075) 100%);
}

#button_right{
  position: absolute;
  margin: auto;
  height: 100%;
  right: 0;
  background: transparent;
  border: none;
  color: #fff;
}


.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  height: 100%;
}

.content p {
  color: white;
  font-weight: 300;
  font-size: 0.5rem;
  margin: auto;
  width: 60%;
}

.content h1 {
  color: white;
  font-weight: 300;
  font-size: 0.7rem;
  margin: auto;
  width: 60%;
}

.contato-title,
.sobre-title,
.card-title{
  background-image: linear-gradient(transparent 0%, transparent 90%, rgb(0, 0, 0)90%, rgb(0, 0, 0) 100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;

  transition: background-size 300ms;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.contato-title:hover,
.sobre-title:hover,
.card-title:hover{
  background-size: 100% 100%;
  background-position-x: left;
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}


#content{
  position: relative;
  height: 130vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(249, 205, 72);
  z-index: 2;
}

.content-sobre{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.content-contato{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 10vh 10vw;
}


footer{
  transition: all 0.4s ease 0s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 12vh;
  width: 100%;
  text-align: center;
  bottom: 0px;
}


footer p{
  color: white;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
  width: 70%;
}

#content-meio{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 90%;
  width: 100%;
  background-color: rgb(249, 205, 72);
}

#icone{
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 5px;
  right: 5px;
  z-index: 5;
}

#icone img{
  height: 100%;
  width: 100%;
}


body::-webkit-scrollbar {
  width: 0px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

@media (min-width: 400px) and (max-width: 1000px) {

  nav{
    height: 200vh;
  }

  #header {
    height: 10vh;
    opacity: 1;
  }
  #content-logo{
    height: 30vh;
  }

  #color-header{
    width: 100%;
  }

  .menu {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  }
  
  .menu ul li {
  float: left;
  position: relative;
  height: 100%;
  width: 10vh;
  justify-content: center;
  align-items: center;
  }
  
  .menu ul li a {
  color: rgba(255, 255, 255, .9);
  text-decoration: none;
  transition: all .3s ease-in-out;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .menu ul li a:hover,
  .menu ul li a:focus {
  background: rgb(249, 205, 72);
  }
  
  .menu ul li:hover .dropdown{
  display: block;
  }
  
  .menu ul li:hover .dropdown li:hover .dropdown-detran{
  display: block;
  }
  
  .menu ul li:hover .dropdown li:hover .dropdown-antt{
  display: block;
  }
  
  .menu ul li a:focus {
  color: white;
  }
  
  .menu ul li a:not(:only-child)::after {
  padding-left: 4px;
  content: ' ▾';
  }
  
  .menu ul li ul li {
    min-width: 100%;
    height: 7vh;
  }
  
  .menu ul li ul li a {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  }
  
  .menu ul li ul li a:hover,
  .menu ul li ul li a:focus {
  background: rgb(249, 205, 72);
  color: #111;
  }

  #container{
    height: 50vh;
    margin: 2vh 0;
    display: none;
  }
  
  .container-container{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

  }

  #container-content1{
    display: none;
  }
  
  #content-card{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }

  .card-content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .content1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .card {
    display: flex;
    height: 140px;
    width: 150px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    margin: 1vh;
  }
  
  .card img{
    border-radius: 10px;
    max-height: 100%;
    max-width: 100%;
  }
  
  .color-card{
    width: 100%;
    height: 0%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(16 14 23 / 79%);
    position: absolute;
    transition: 0.3s ease-out;
  }
  
  .title {
    color: rgb(255, 255, 255);
    font-weight: 300;
    position: absolute;
    top: 0px;
    width: 100%;
    font-size: 1rem;
  }
  
  .bar {
    position: absolute;
    top: 80px;
    left: 20px;
    height: 2%;
    width: 85%;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgb(167, 114, 0) 0%, rgb(201, 137, 0) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }
  
  .card:hover .filledbar {
    width: 90%;
    transition: 0.4s ease-out;
  }
  
  .card:hover .color-card {
    height: 40%;
    transition: 0.4s ease-out;
  }
  
  .content{
    opacity: 0;
    transition: 0.4s ease-out;
  }
  
  .card:hover .content{
    opacity: 1;
    transition: 1s ease-out;
  }

  #content {
    flex-direction: column;
    height: 75%;
  }

  #content-meio{
    margin-bottom: 10vh;
    height: 55vh;
  }

  .content-sobre {
    width: 80%;
    margin: auto;
  }

  .content-contato {
    width: 80%;
    margin: auto;
  }

  #content-form {
    height: 50%;
    width: 70%;
    padding: 5vh;
  }

  .content-text-p {
    width: 70%;
    height: 70%;
    padding: 100px 20px;
  }

  #form div input {
    height: 40px
  }

  #icone {
    position: fixed;
    height: 75px;
    width: 75px;
    bottom: 20px;
    right: 20px;
    z-index: 5;
  }

  footer{
    margin-top: auto;
  }
}