body {
    background-color: #2e3033;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    }

#load{
position: fixed;
width: 100%;
height: 100%;
background-color: #2e3033;
z-index: 8;
display: flex;
justify-content: center;
align-items: center;
animation: fade 1s ease-out;
z-index: 10;
}

.box-load{
animation-delay: 5s;
animation: rotate 1s infinite;
position: relative;
width: 100px;
height: 100px;
border-radius: 50%;
border: 6px solid #fff;
border-top-color: rgb(249, 205, 72);
}

@keyframes rotate{
    from{
      transform: rotate(1turn)
    }
}

nav{
background-color: #2e3033;
height: 260vh;
width: 100vw;
position: absolute;
display: flex;
text-align: center;
justify-content: initial;
flex-direction: column;
}

#header-top{
height: 20vh;
width: 100%;
display: flex;
justify-content: start;
flex-direction: row;
z-index: 3;
background-color: #3e567a;
transition: 0.3s ease-out;
align-items: center;
}

.header-logo{
    height: 10vh;
    width: 12vh;
    border-radius: 50%;
    margin-right: 0%;
    display: flex;
    margin: 0 5vh;
    align-items: center;
}

.header-logo img{
max-height: 100%;
max-width: 100%;
}

#header-text{
height: 100%;
width: 60%;
margin: auto;
}

#header{
height: 10vh;
width: 100%;
position: fixed;
display: flex;
justify-content: center;
flex-direction: row;
z-index: 4;
background-color: #2e3033;
}

#header:after{
transition: 0.4s ease-out;
}

#color-header{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
position: absolute;
background-color: transparent;
}

#content-header{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.menu {
margin: 0 auto;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.menu ul {
padding: 0;
margin: 0;
list-style: none;
height: 100%;
}

.menu ul li {
float: left;
position: relative;
height: 100%;
width: 20vh;
justify-content: center;
align-items: center;
}

.menu ul li a {
color: rgba(255, 255, 255, .9);
text-decoration: none;
transition: all .3s ease-in-out;
height: 100%;
width: 100%;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}

.menu ul li a:hover,
.menu ul li a:focus {
    background: linear-gradient(90deg, rgb(214, 161, 1), rgb(249, 205, 72), rgb(214, 161, 1));
}

.menu ul li:hover .dropdown{
display: block;
}

.menu ul li:hover .dropdown li:hover .dropdown-detran{
display: block;
}

.menu ul li:hover .dropdown li:hover .dropdown-antt{
display: block;
}

.menu ul li a:focus {
color: white;
}

.menu ul li a:not(:only-child)::after {
padding-left: 4px;
content: ' ▾';
}

.menu ul li ul li {
min-width: 100%;
}

.menu ul li ul li a {
background-color: #2e3033;
color: rgb(255, 255, 255);
}

.menu ul li ul li a:hover,
.menu ul li ul li a:focus {
    background: linear-gradient(90deg, rgb(214, 161, 1), rgb(249, 205, 72), rgb(214, 161, 1));
color: #2e3033;
}

.dropdown {
display: none;
position: absolute;
background: #2e3033;
box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
}

.dropdown-detran{
display: none;
position: absolute;
background: #2e3033;
box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
top: 0;
left: 100%;
}
  
.dropdown-antt{
display: none;
position: absolute;
background: #2e3033;
box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
top: 0;
left: 100%;
}
  

#content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
}


#content div h1{
color: #2e3033;
font-size: 2.5rem;
font-weight: bold;
margin-bottom: 1rem;
}

#content div{
    background: linear-gradient(90deg, rgb(214, 161, 1), rgb(249, 205, 72), rgb(214, 161, 1));
}

#content div p{
color: #2e3033;
font-size: 1.5rem;
font-weight: bold;
margin-bottom: 1rem;
}

#image-content{
    width: 100%;
    height: 73%;
    position: absolute;
    background-image: url('/imgs/cones.jpg');
    opacity: 10%;
  }

  #content-meio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10vh;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgb(214, 161, 1), rgb(249, 205, 72), rgb(214, 161, 1));
    margin-bottom: 10vh;
    }

.content-top{
    height: 80vh;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5vh;
    z-index: 1;
    margin: 5vh auto;
    background-color: #2e3033;
  }

.content-top-img{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.content-top-content{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto 2vh;
    background: linear-gradient(90deg, rgb(214, 161, 1), rgb(249, 205, 72), rgb(214, 161, 1));
}

.top-content-top{
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.box-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    margin: 1vh;
    background-color: #01ca6c;
}

.box-1 p{
    color: #2e3033;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 1vh;
}

.box-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    margin: 1vh;
    background-color: #b85301;
}

.box-2 p{
    color: #2e3033;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 1vh;
}

.top-content-meio{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
}

.content-top-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content-text{
    display: flex;
    height: 100%;
    width: 70%;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.content-text-title{
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: #2e3033;

}

.content-text-p{
    color: #2e3033;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 70%;
    padding: 50px 20px;
    border: 3px solid #2e3033;
}

.content-text-p-01{
    position: relative;
    font-size: 1rem;
    margin:auto;
    width: 80%;
}
.content-text-p-01-title{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin:auto;
}

#content-form{
    position: fixed;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #2e3033;
    height: 50%;
    width: 30%;
    padding: 5vh;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 11;
    margin: auto;
}

.content-form-title h1{
color: white;
font-weight: 300;
font-size: 1.5rem;
margin: 0;
width: 100%;
}

.content-form-title p{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    margin: 2vh;
    cursor: pointer;
}

#button_assi{
    color:white
}

#button_assi:hover{
    color: #f9cd48;
}

#form{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
height: 100%;
width: 100%;
}

#form div{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
width: 70%;
height: 10%;
margin: 20px;
}

#form div label{
width: 100%;
border: none;
color: white;
}


#form div input{
width: 100%;
height: 20px;
color: #2e3033;
font-size: 1rem;
padding: 5px;
background-color: white;
border: none;
}

#form div input:focus{
    color: #2e3033;
    outline: none;
    border: none;
    text-decoration: none;
}

#appearance-select {
    appearance: none;
    background-color: white;
    width: 100%;
    height: 30px;
    border: none;
    text-align: center;
}

#appearance-select:focus{
    outline: none;
}

#appearance-select select::-ms-expand {
    display: none;
}

#icone{
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 5px;
    right: 5px;
    z-index: 5;
}

#icone img{
height: 100%;
width: 100%;
}

footer{
    transition: all 0.4s ease 0s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 100%;
    text-align: center;
    bottom: 0px;
    position: absolute;
    margin-top: auto;
    z-index: 2;
    background-color: #2e3033;
}


footer p{
color: white;
font-weight: 300;
font-size: 14px;
margin: 0;
width: 65%;
}

#icones-footer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 20%;
}

#icones-footer a{
    height: 30px;
    width: 30px;
    margin: 5px;
}

#icones-footer a img{
    height: 100%;
    width: 100%;
}

.container_footer{
position: relative;
width: 25%;
display: flex;
justify-content: center;
flex-direction: row;
}

#showFooter{
position: absolute;
color: white;
font-weight: 0.5rem;
right: 0;
bottom: 10%;
}

body::-webkit-scrollbar {
    width: 0px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
background: transparent;        /* color of the tracking area */
}

@media (min-width: 400px) and (max-width: 1000px) {

    nav{
      height: 225vh;
    }
    
    #header {
    height: 10vh;
    opacity: 1;
    }
    #content-logo{
        height: 60vh;
    }

    .header-logo {
        height: 10vh;
        width: 10vh;
        border-radius: 50%;
        margin-right: 0%;
        display: flex;
        margin: 0 1vh;
        align-items: center;
      }
    
    #content-logo{
    display: flex;
    height: 30vh;
    }

    #color-header{
    width: 100%;
    }
    
    .menu {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    }
    
    .menu ul li {
    float: left;
    position: relative;
    height: 100%;
    width: 8vh;
    justify-content: center;
    align-items: center;
    }
    
    .menu ul li a {
    color: rgba(255, 255, 255, .9);
    text-decoration: none;
    transition: all .3s ease-in-out;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .menu ul li a:hover,
    .menu ul li a:focus {
        background: linear-gradient(90deg, rgb(214, 161, 1), rgb(249, 205, 72), rgb(214, 161, 1));
    }
    
    .menu ul li:hover .dropdown{
    display: block;
    }
    
    .menu ul li:hover .dropdown li:hover .dropdown-detran{
    display: block;
    }
    
    .menu ul li:hover .dropdown li:hover .dropdown-antt{
    display: block;
    }
    
    .menu ul li a:focus {
    color: white;
    }
    
    .menu ul li a:not(:only-child)::after {
    padding-left: 4px;
    content: ' ▾';
    }
    
    .menu ul li ul li {
    min-width: 100%;
    height: 7vh;
    }
    
    .menu ul li ul li a {
    background: #2e3033;
    color: rgb(255, 255, 255);
    }
    
    .menu ul li ul li a:hover,
    .menu ul li ul li a:focus {
    background: linear-gradient(90deg, rgb(214, 161, 1), rgb(249, 205, 72), rgb(214, 161, 1));
    color: #2e3033;
    }

    #icone {
    position: fixed;
    height: 75px;
    width: 75px;
    bottom: 20px;
    right: 20px;
    z-index: 5;
    }

    footer{
        margin-top: auto;
    }
  
    #content-meio{
        margin-bottom: 10vh;
        height: 200vh;
    }

    .content-sobre {
        width: 80%;
    }

    .content-text {
    display: flex;
    height: 100%;
    width: 100%;
    }

    .content-top {
        height: 12vh;
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 2vh;
        z-index: 1;
        margin: 5vh auto;
        background-color: #2e3033;
    }

    .content-top-img{
        width: 45%;
    }

    .top-content-meio{
        display: none;
    }
  
    #content-form {
        height: 50%;
        width: 70%;
        padding: 5vh;
    }

    .content-text-p {
        width: 70%;
        height: 70%;
        padding: 5% 20px;
    }
  
    #form div input {
      height: 40px
    }
  }


  #content-form{
    height: 50%;
    width: 30%;
    padding: 5vh;
    display: none;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    color: rgba(255, 255, 255, .9);
    background-color: #2e3033;
    transition: all 0.4s ease-in-out;
  }
  @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
  * {
      font-family: "Roboto";
  }
  div.container {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      margin-top: 30px;
      border: 1px solid rgba(255, 255, 255, .9);
      padding: 21px;
      border-radius: 4px;
  }
  h4.title {
      text-align: center;
      margin-bottom: 45px;
  }
  :root {
      --omrs-color-ink-lowest-contrast: #121212;
      --omrs-color-ink-low-contrast: #121212;
      --omrs-color-ink-medium-contrast: #121212;
      --omrs-color-interaction: #f9cd48;
      --omrs-color-interaction-minus-two: #121212;
      --omrs-color-danger: #b50706;
      --omrs-color-bg-low-contrast: rgba(255, 255, 255, .9);
      --omrs-color-ink-high-contrast: #121212;
      --omrs-color-bg-high-contrast: rgba(255, 255, 255, .9);
      
  }

  div.omrs-input-group {
    margin-bottom: 1.5rem;
    position: relative;
    width: 70%;
    margin: 1vh auto;
  }


  .omrs-input-underlined > input,
  .omrs-input-filled > input
  {
      border: none;
      border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
      width: 100%;
      height: 2rem;
      font-size: 1.0625rem;
      padding-left: 0.875rem;
      line-height: 147.6%;
      padding-top: 0.825rem;
      padding-bottom: 0.5rem;
  }
  
  .omrs-input-group textarea{
    width: 235px;
    height: 60px;
  }
  
  .omrs-input-group textarea:focus{
    outline: none;
  }
  
  .omrs-input-underlined > input:focus,
  .omrs-input-filled > input:focus {
      outline: none;
  }
  
  .omrs-input-underlined > .omrs-input-label,
  .omrs-input-filled > .omrs-input-label {
      position: absolute;
      top: 0.9375rem;
      left: 0.875rem;
      line-height: 147.6%;
      color: var(--omrs-color-ink-medium-contrast);
      transition: top .2s;
  }
  
  .omrs-input-underlined > svg,
  .omrs-input-filled > svg {
      position: absolute;
      top: 0.9375rem;
      right: 0.875rem;
      fill: var(--omrs-color-ink-medium-contrast);
  }
  
  .omrs-input-underlined > .omrs-input-helper,
  .omrs-input-filled > .omrs-input-helper {
      font-size: 0.9375rem;
      color: var(--omrs-color-ink-medium-contrast);
      letter-spacing: 0.0275rem;
      margin: 0.125rem 0.875rem;
  }
  
  .omrs-input-underlined > input:focus + .omrs-input-label,
  .omrs-input-underlined > input:valid + .omrs-input-label,
  .omrs-input-filled > input:focus + .omrs-input-label,
  .omrs-input-filled > input:valid + .omrs-input-label {
      top: 0;
      font-size: 0.9375rem;
      margin-bottom: 32px;;
  }
  
  .omrs-input-underlined:not(.omrs-input-danger) > input:focus + .omrs-input-label,
  .omrs-input-filled:not(.omrs-input-danger) > input:focus + .omrs-input-label {
      color: var(--omrs-color-interaction);
  }
  
  .omrs-input-underlined:not(.omrs-input-danger) > input:focus,
  .omrs-input-filled:not(.omrs-input-danger) > input:focus,
  .omrs-input-group:not(.omrs-input-danger) > textarea:focus {
      border-color: var(--omrs-color-interaction);
  }
  
  .omrs-input-underlined:not(.omrs-input-danger) > input:focus ~ svg,
  .omrs-input-filled:not(.omrs-input-danger) > input:focus ~ svg {
      fill: var(--omrs-color-ink-high-contrast);
  }
  
  /** DISABLED **/
  
  .omrs-input-underlined > input:disabled,
  .omrs-input-group > textarea:disabled {
      background: var(--omrs-color-bg-low-contrast);
      cursor: not-allowed;
  }
  
  .omrs-input-underlined > input:disabled + .omrs-input-label,
  .omrs-input-underlined > input:disabled ~ .omrs-input-helper{
      color: var(--omrs-color-ink-low-contrast);
  }
  
  .omrs-input-underlined > input:disabled ~ svg {
      fill: var(--omrs-color-ink-low-contrast);
  }
  
  
  /** DANGER **/
  
  .omrs-input-underlined.omrs-input-danger > .omrs-input-label, .omrs-input-underlined.omrs-input-danger > .omrs-input-helper,
  .omrs-input-filled.omrs-input-danger > .omrs-input-label, .omrs-input-filled.omrs-input-danger > .omrs-input-helper{
      color: var(--omrs-color-danger);
  }
  
  .omrs-input-danger > svg {
      fill: var(--omrs-color-danger);
  }
  
  .omrs-input-danger > input {
      border-color: var(--omrs-color-danger);
  }
  
  .omrs-input-underlined > input {
      background: var(--omrs-color-bg-high-contrast);
  }
  
  .omrs-input-group > textarea {
    background: var(--omrs-color-bg-high-contrast);
  }
  
  .omrs-input-filled > input {
      background: var(--omrs-color-bg-low-contrast);
  }